<div class="container p-5">
  <div class="row">
    <div class="col-10">
      <h1>Especialidades</h1>
    </div>
    <div class="col-2">
      <button type="button" (click)="createSpecialty()" class="btn btn-success btn-block">
        <span>Crear </span>
        <span class="material-icons font-icon">
          create
        </span>
      </button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="card-columns">
      <div class="card" *ngFor="let specialty of specialties">
        <img src="https://universitariosmagazine.com/site/images/easyblog_articles/541/cache_8964770.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Especialidad {{specialty.name}}</h5>
          <p class="card-text">{{specialty.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
