<div class="container p-5">
  <div class="row">
    <div class="col-10">
      <h1>Especialidades</h1>
    </div>
    <div class="col-2">
      <button type="button" (click)="createSpecialty()" class="btn btn-success btn-block">
        <span>Crear </span>
        <span class="material-icons font-icon">
          create
        </span>
      </button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="card-columns">
      <div class="card" *ngFor="let specialty of specialties">
        <img src="https://source.unsplash.com/random/200x200" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hospital {{specialty.name}}</h5>
          <p class="card-text">{{specialty.address}}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <button type="button" (click)="goToSpecialty(specialty.id)" class="btn btn-primary btn-block">
            Ver mas ...
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
