<div class="container p-5">
  <div class="card">
    <h5 class="card-header">Información del Doctor</h5>
    <div class="card-body">
      <form (ngSubmit)="createDoctor(doctorForm)" [formGroup]="doctorForm">
        <div class="form-group">
          <label class="control-label">Nombre del Doctor</label>
          <input type="text" class="form-control" formControlName="name">
          <small id="emailHelp" class="form-text text-muted">Ingrese Nombre del Doctor</small>
        </div>
        <div class="form-group">
          <label>Dirección</label>
          <input type="text" class="form-control" formControlName="address">
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>

    </div>
  </div>
</div>
