<div class="container p-5">
  <div class="card">
    <h5 class="card-header">Información del Doctor</h5>
    <div class="card-body">
      <form (ngSubmit)="createDoctor(doctorForm)" [formGroup]="doctorForm">
        <div class="form-group">
          <label class="control-label">Nombre del Doctor</label>
          <input type="text" class="form-control" formControlName="name">
          <small class="form-text text-muted">Ingrese Nombre del Doctor</small>
        </div>
        <div class="form-group">
          <label class="control-label">Apellido del Doctor</label>
          <input type="text" class="form-control" formControlName="lastname">
          <small class="form-text text-muted">Ingrese Apellido del Doctor</small>
        </div>
        <div class="form-group">
          <label>Dirección</label>
          <input type="text" class="form-control" formControlName="address">
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Fecha Nacimiento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthday">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col text-center">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>

      </form>

    </div>
  </div>
</div>
