<div class="container pt-5" *ngIf="patient">
  <div class="row h-25">
    <div class="col-4">
      <div class="text-center">
        <img src="https://source.unsplash.com/random/200x200" class="rounded" alt="...">
      </div>
    </div>
    <div class="col-8">
      <span><span class="font-weight-bolder">Nombre: </span> {{patient.name}}</span><br>
      <span><span class="font-weight-bolder">Dirección: </span> {{patient.address}}</span><br>
      <button type="button" class="btn btn-primary">Agendar Cita</button>
    </div>

  </div>
  <div class="row  pt-5 m-0  h-75">
    <div class="col-6 px-0">
      <div class="card">
        <h5 class="card-header">Historia medica</h5>
        <div class="card-body p-0 m-0">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="let note of patient.notes">
              <span>
                Prescripción<br>
                <small>Dr. Juan Perez</small>
              </span>
              <span class="badge badge-primary badge-pill">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"
              *ngIf="patient.notes.length == 0">
              <span>
                No existen consultas aun<br>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-6 m-0 px-0">
      <div class="card">
        <h5 class="card-header">Prescripción</h5>
        <div class="card-body">
          <h5 class="card-title">Referido</h5>
          <p class="card-text">Dr. Juan Perez</p>
          <h5 class="card-title">Fecha</h5>
          <p class="card-text">5 de Junio de 2020</p>
          <h5 class="card-title">Descripción</h5>
          <p class="card-text">Tomar lo siguiente</p>
        </div>
      </div>
    </div>
  </div>
</div>
