<div class="container-fluid">
  <div class="row">
    <div class="col-4">

    </div>
    <div class="col-8">

    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <button type="button" (click)="goToPatients()" class="btn btn-primary btn-block">
        Pacientes
      </button>
    </div>
<div>
    
</div>
    <button type="button" class="btn btn-primary btn-block">
      Doctores
    </button>
    <button type="button" class="btn btn-primary btn-block">
      Especialidades
    </button>

  </div>
</div>
